[build]
builder = "nixpacks"

[build.nixpacks]
nodejs_version = "20"
pkg_manager = "pnpm"
build_cmd = "pnpm build"

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
